<div class="hero mt-10">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">My App</h1>
      <p class="text-neutral-content pt-6">Join the waitlist for my app!</p>
      <p class="text-neutral-content pt-4">Estimated Launch: 2027</p>
    </div>
  </div>
</div>
